.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcuserdatad
*.xcworkspace/xcuserdata/
.build/
Pods/
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
*.ipa
*.dSYM.zip
*.dSYM
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
